@use "../lib";

@at-root {
    .test {
        @include lib.generate_tree((
            "background-color": black
        ));
    }

    @include lib.generate_tree(
        (
            ".class-2",
            (
                "background-color": rgb(255, 255, 254)
            )
        ),
        (
            ".class-3",
            (
                "text-align": center
            )
        )
    );

    @include lib.generate_tree(
        ".outer",
        (
            "> .inner",
            (
                "background-color": black
            )
        )
    );

    $breakpoints: (560px);
    $vals: (10px, 12px);

    @include lib.generate_tree(lib.responsive_text($breakpoints, $vals));

    $tree: lib.create_block("one");
    $tree: lib.insert_rules($tree, (
        "display": flex
    ));
    $tree: lib.insert_block($tree, lib.insert_rules(lib.create_block("two"),
    (
        "flex": 1
    )));
    $tree: lib.insert_rules($tree, (
        "justify-content": flex-start
    ));
    $tree: lib.insert_rules($tree, (
        "justify-content": flex-end
    ));
    $tree: lib.combine_rules($tree);

    @include lib.generate_tree($tree);
}